name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  # TODO: Reuse the build job from publish_function.yml
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Show Azure DevOps pipelines
        env:
          ADO_ORG_URL: ${{ vars.ADO_ORG_URL }}
          ADO_PROJECT_NAME: ${{ vars.ADO_PROJECT_NAME }}
        run: |
          echo "Getting token for Azure DevOps..."
          AZURE_DEVOPS_TOKEN=$(az account get-access-token --resource 499b84ac-1321-427f-aa17-267ca6975798 --query accessToken --output tsv)
          
          if [ -z "$AZURE_DEVOPS_TOKEN" ]; then
            echo "Failed to get Azure DevOps token"
            exit 1
          fi
          
          export AZURE_DEVOPS_EXT_PAT=$AZURE_DEVOPS_TOKEN    
          az devops configure --defaults organization=$ADO_ORG_URL project=$ADO_PROJECT_NAME

          echo "Listing pipelines..."
          az pipelines list --output table