name: Deploy
on:
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  create-resource-group:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/terraform
    steps:
    - name: Check out the repository
      uses: actions/checkout@v6
    
    - name: Log in to Azure using Federated Credentials
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_MI_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_MI_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_MI_SUBSCRIPTION_ID }}
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan